@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.menuCard {
  &__type {
    padding: 1rem;
    margin: 1rem;
    background-color: $color3;
    white-space: nowrap;
    border-radius: 10px;
    border: none;
    @include p;

    &-active {
      border: $color1;
    }

    &-scroller {
      display: flex;
      overflow-x: auto;
      padding: 2rem 0;
      position: sticky;
      top: 0;
      background-color: $color7;
    }
  }

  &-box {
    // padding: 1.5rem;
    margin: 1rem;
    border-radius: 25px;
    gap: 1rem;
  }

  &__product {
    &-type {
      padding: 2rem 0;
    }

    &-box {
      padding: 1rem 0;
      border-bottom: 1px solid $color3;
    }

    &-name {
      padding: 1rem 0;
    }
  }

  &__product-box {
    gap: 1rem;
    @include flex($justify: space-between);

    &-right {
      @include flex;
      gap: 1rem;
    }
  }

  &__image {
    width: 20vw;
    border-radius: 20px;
  }

  &__bt {
    padding: 1rem;
    border-style: none;
    border-radius: 20px;
    background-color: $color1;
    color: $color2;
  }

  &__link {
    text-decoration: underline;
  }
}
