@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.menuCard {
  &-box {
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 25px;
    gap: 1rem;

    &__drinks {
      background: linear-gradient(
        180deg,
        #c6bfdf 0%,
        $color3 30%,
        $color3 100%
      );
    }

    &__food {
      background: linear-gradient(
        180deg,
        $color4 0%,
        $color3 30%,
        $color3 100%
      );
    }
  }

  &__product-box {
    gap: 1rem;
    @include flex($justify: space-between);

    &-right {
      @include flex;
      gap: 1rem;
    }
  }

  &__image {
    width: 20vw;
    border-radius: 20px;
  }

  &__bt {
    padding: 1rem;
    border-style: none;
    border-radius: 20px;
    background-color: $color1;
    color: $color2;
  }

  &__link {
    text-decoration: underline;
  }
}
