@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;

//Media query
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin button($bg-color: null, $opacity: 1, $color: $color6) {
  display: inline-block;
  background: if(
    $bg-color != null,
    $bg-color,
    linear-gradient(
      90deg,
      rgba(186, 216, 255, 1) 0%,
      rgb(202, 218, 248) 50%,
      rgba(186, 216, 255, 1) 100%
    )
  );
  color: $color6;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
}

@mixin h1 {
  font-family: Quattrocento;
  font-size: 2rem;
  line-height: 2rem;
}

@mixin h2 {
  font-family: Quattrocento;
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin h3 {
  font-family: Quattrocento;
  font-size: 1rem;
  line-height: 1rem;
}

@mixin p {
  font-family: Lora;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin h1-bold {
  font-family: Quattrocento-Bold;
  font-size: 2rem;
  line-height: 2rem;
}

@mixin h2-bold {
  font-family: Quattrocento-Bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin h3-bold {
  font-family: Quattrocento-Bold;
  font-size: 1rem;
  line-height: 1rem;
}

@mixin p-italic {
  font-family: Lora-Italic;
  font-size: 1rem;
  line-height: 1.5rem;
}
