@use "./variables" as *;
@use "./typography" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color7;
}

a {
  text-decoration: none;
  color: $color6;
}

button {
  cursor: pointer;
  border: none;
}
