@font-face {
  font-family: "Lora";
  src: url("/src/assets/fonts/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lora-Italic";
  src: url("../../assets/fonts/Lora-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Quattrocento";
  src: url("../../assets/fonts/Quattrocento-Regular.ttf");
}

@font-face {
  font-family: "Quattrocento-Bold";
  src: url("../../assets/fonts/Quattrocento-Bold.ttf");
}

// body {
//   font-family: Quattrocento, Arial, Helvetica, sans-serif;
// }

h1 {
  font-family: Quattrocento;
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-family: Quattrocento;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h3 {
  font-family: Quattrocento;
  font-size: 1rem;
  line-height: 1rem;
}

p {
  font-family: Lora;
  font-size: 1rem;
  line-height: 1.2rem;
}
