@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.order-page {
  padding: 2rem;

  &__title {
    padding: 2rem 0;
  }

  &__history-bt {
    @include button;
  }

  &__box {
    background-color: $color3;
    padding: 1rem;
    margin: 2rem 0;
    @include flex($justify: space-between);
    border-radius: 10px;
  }

  &__complete-bt {
    @include button($bg-color: $color2);
    @include h3;
  }
}
