@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.order-page {
  &__big-box {
    @include tablet {
      @include flex;
    }
  }
  padding: 2rem;
  @include tablet {
    width: 1020px;
  }

  &__title {
    padding: 2rem 0;
    @include tablet {
      @include h1-big;
    }
  }

  &__history-bt {
    @include button;

    &-text {
      @include tablet {
        @include h2-big;
      }
    }
  }

  &__product {
    @include tablet {
      @include p-big;
    }
  }

  &__box {
    background-color: $color3;
    padding: 1rem;
    margin: 2rem 0;
    @include flex($justify: space-between);
    border-radius: 10px;

    &-time {
      padding-bottom: 1rem;
      // border-bottom: 1px solid $color2;

      &-text {
        @include h3-bold;
        @include tablet {
          @include p-big;
        }
      }
    }
  }

  &__complete-bt {
    @include button($bg-color: $color2);
    @include h3;

    &-text {
      @include tablet {
        @include p-big;
      }
    }
  }
}
