@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.order-page {
  padding: 2rem;
  &__box {
    background-color: $color3;
    margin: 1rem;
  }
}
