@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;
@use "../../styles/_partials/resets.scss";

.single-product-page {
  background-color: $color2;
  @include tablet {
    @include flex;
  }
  &__box {
    background-color: $color2;
    padding: 2rem;
    min-height: 100vh;
  }

  &__product-title {
    padding: 2rem 0 1rem 0;
    @include tablet {
      @include h1-big;
    }
  }

  &__content {
    @include flex;
    flex-direction: column;
  }

  &__image {
    width: 70vw;
    border-radius: 30px;
  }

  &__price {
    @include h2-bold;
    @include tablet {
      @include h2-big;
      padding: 2rem 0;
    }
  }

  &__description {
    text-align: center;
    @include tablet {
      @include p-big;
      padding-bottom: 1rem;
    }
  }

  &__text-area {
    margin: 1rem;
    padding: 1rem;
    @include p;
    background-color: $color3;
    border: none;
    border-radius: 15px;
    @include tablet {
      @include p-big;
      padding-bottom: 1rem;
    }
  }

  &__purchase-count {
    padding: 1rem 1.5rem;
  }

  &__bt {
    @include button;
    justify-content: flex-start;
    cursor: pointer;
    &-text {
      @include tablet {
        @include h2-big;
      }
    }

    &-cart {
      margin: 2rem 0;
      width: 80%;
    }

    &-arrow {
      @include tablet {
        @include h3-big;
      }
    }
  }

  &__bt-box {
    @include flex;
    flex-direction: column;
  }

  &__count-box {
    display: flex;
  }
}
