@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.menu-page {
  &__ig-icon {
    width: 10vw;
  }

  &__top-box {
    @include flex;
  }

  &__box {
    position: relative;
    padding: 2rem;
  }

  &__top-box {
    @include flex($justify: space-between);
    // padding-bottom: 2rem;
  }

  &__go-back-bt {
    @include button;
    justify-content: flex-start;
    cursor: pointer;
  }

  &__title {
    @include flex;
    @include h1;
    padding-bottom: 1.5rem;
    text-align: center;
  }

  &__cart {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: $color1;
    padding: 1.5rem;
    border-radius: 15px;
    color: $color2;
  }
}
