@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.menu-page {
  @include tablet {
    @include flex;
  }

  &__box {
    position: relative;
    padding: 2rem;

    @include tablet {
      width: 1020px;
    }
  }

  &__ig-icon {
    width: 1.5rem;
    @include tablet {
      width: 2rem;
    }
  }

  &__top-box {
    @include flex;
  }

  &__top-box {
    @include flex($justify: space-between, $align: center);
    // padding-bottom: 2rem;
  }

  &__go-back-bt {
    @include button;
    padding: 0.3rem 0.8rem;
    justify-content: flex-start;
    cursor: pointer;

    &-arrow {
      @include tablet {
        @include h3-big;
      }
    }
  }

  &__title {
    @include flex;
    @include h1;

    @include tablet {
      @include h1-big;
    }
  }

  &__cart {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: $color1;
    padding: 1.5rem;
    border-radius: 50px;
    color: $color2;

    &-text {
      @include tablet {
        @include h2-big;
      }
    }
  }
}
