@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.order-history {
  padding: 2rem;

  &__big-box {
    @include tablet {
      @include flex;
    }
  }

  @include tablet {
    width: 1020px;
  }

  &__back-bt {
    @include button;
    &-arrow {
      @include tablet {
        @include h3-big;
      }
    }
  }

  &__title {
    padding: 2rem 0;
    @include tablet {
      @include h1-big;
    }
  }

  &__dropdown {
    &-menu {
      width: 200px; /* Adjust as needed */
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      background-color: $color3;
      border: none;
      color: $color6;
      cursor: pointer;
      transition: border-color 0.3s, box-shadow 0.3s;
      margin-bottom: 2rem;
      &:focus {
        border-color: yellow;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
      @include h3;
      @include tablet {
        @include p-big;
      }
    }

    &-option {
      font-size: 14px;
      padding: 5px;
      background-color: #fff;
      color: purple;
      cursor: pointer;
    }
  }

  &__box {
    padding: 1rem;
    background-color: $color3;
    margin-bottom: 1.5rem;
    border-radius: 10px;
  }

  &__ordered-date {
    // border-bottom: 1px solid $color2;
    padding-bottom: 1rem;
    @include h3-bold;
    @include tablet {
      @include h3-bold-big;
    }
  }

  &__orders {
    @include tablet {
      @include p-big;
    }
  }
}
