@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.cart-page {
  padding: 2rem;

  &__animation {
    &-box {
      position: absolute;
      right: -10%;
      overflow: hidden;
    }
    position: relative;
    border: none;
  }

  &__title {
    @include h1;
    padding: 2rem 0;
  }
  &__box {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    &-small {
      display: flex;
      margin-bottom: 2rem;
    }

    &-left {
      padding-right: 2rem;
    }
  }

  &__bt {
    @include button;

    &-pay {
      margin: 2rem 0;
    }
  }

  &__text {
    @include h2-bold;
    padding-top: 0.2rem;
  }

  &__table-number-input {
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 3px rgb(86, 86, 86);
    @include h3;
    font-size: 1.5rem;
    padding: 0rem 1rem;
    margin-top: 3rem;
  }

  &__message {
    padding: 0.5rem 0;
  }
}
