@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.payment-success-page {
  padding: 2rem;
  height: 100vh;

  &__animetion {
    &__box {
      @include flex;
    }

    &-ribbon {
      border: none;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  &__box {
    @include flex;
    flex-direction: column;
    height: 100vh;
  }

  &__back-bt {
    @include button;
    z-index: 1000 !important;
  }

  &__message {
    padding: 2rem 0;
    @include tablet {
      @include h3-big;
    }
  }

  &__home-bt {
    @include button;
    @include tablet {
      @include h3-big;
    }
  }
}
