@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.login {
  background-color: $color1;
  padding: 1rem;
  @include flex;
  flex-direction: column;
  position: absolute;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;

  &__title {
    padding-top: 1rem;
    color: $color3;
  }

  &__form {
    &-box {
      @include flex;
      flex-direction: column;

      &-samll {
        // display: flexbox;
        // gap: 10rem;
        padding: 0.5rem 0;
      }
    }

    &-label {
      @include flex;
      color: $color3;
      padding: 1rem 0;
    }

    &-input {
      width: 10rem;
      height: 2rem;
      border-radius: 10px;
      border: none;
      padding: 0 1rem;
      font-size: 1.5rem;
    }

    &-message {
      color: $color2;
      text-align: center;
      font-size: 1rem;
    }

    &-bt {
      @include button;
      margin: 1rem;
    }
  }
}
