@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.payment-page {
  &__bt-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
