@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixin" as *;

.payment-page {
  padding: 2rem;

  &__back-bt {
    @include button;
  }

  &__bt-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__price-box {
    padding: 3rem 0;

    &-text {
      padding: 1rem 0;
    }
  }

  &__pay-bt {
    @include button;
  }

  &__animation {
    &-box {
      overflow: hidden;
    }

    position: relative;
    width: 200%;
    height: 20rem;
    margin-top: 0rem;
    left: 50%;
    transform: translate(-50%, 0%);
    border: none;
  }
}
